@import "tailwindcss";

@theme {
  /* This is where you can define your "Sophisticated" logo colors later */
  --color-app-black: #0a0a0a;
}

/* Apply to the base of your site */
html,
body {
  background-color: var(--color-app-black);
  color: white; /* Makes all your text readable against the black */
}
